@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css'
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css'
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap')

$gris : #F3F3F3
$red : rgb(189, 88, 78)

body
    font-family: 'Source Sans Pro', sans-serif
    margin: 0
    overflow-x: hidden

.bold
    font-weight: bold

nav
    a
        text-transform: uppercase
        text-decoration: none
        &:hover
            color: black
            background-color: white

#first-Section
    background-image: url('../images/slider-1.jpg')
    background-repeat: no-repeat
    background-position: bottom 30% right 35%
    background-size: contain
    background-color: $gris
    h1
        font-weight: light
        color: $red
        &>p
            font-size: 105px
            font-weight: bold
    button
        border-radius: 25px
        border-color: $red
        background-color: $red

#service
    .row

        color: white
        &>div:first-child
            background-image: url('../images/services/service-1.jpg')
            height: 185px
            background-size: cover
            background-position: center

        &>div:nth-child(2)
            background-image: url('../images/services/service-2.jpg')
            height: 185px
            background-size: cover
            background-position: center

        &>div:last-child
            background-image: url('../images/services/slider-3.jpg')
            height: 185px
            background-size: cover
            background-position: center

        hr
            background-color: white
        a
            text-decoration: none
            color: white
            font-weight: bolder
            font-size: 22px

#recent
    text-align: center
    img

        width: 100%
    p
        font-size: 17px
        font-weight: bold
    span
        font-weight: bold
        font-size: 17px

.barre
    text-decoration: line-through
    color: gray
.prix
    text-decoration: none
    color: $red
.sale
    background-color: $red
    color: white
    font-size: 10px
    border-radius: 50%
    padding: 15px

#discover
    display: flex
    background-image: url('../images/cta-bg.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: center
    width: 100%
    height: 500px
    justify-content: center
    align-items: center
    span
        background-color: $red
        padding: 15px 20px
        font-size: 12px
        border-radius: 25px

.rouge
    background-color: $red
    color: white
.gris
    background-color: $gris
.noir
    background-color: #000000
    color: white

section
    button
        text-transform: uppercase

#review
    .col-3
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center

footer
    background-color: #212121
    .row
        padding: 100px 50px
        color: #9b9b9b
        .col-3:not(:last-child)
            border-right: 1px solid #9b9b9b
    span
        color: white
    li 
        list-style: '>    ' 
    .copyright
        text-transform: uppercase
        background-color: #0a0a0a
        color: #838383