@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css'
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css'
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap')

body
    font-family: 'Source Sans Pro', sans-serif

.bold
    font-weight: bold

a
    &,:hover

        text-decoration: none