@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@media (max-width: 540px) {
  body {
    margin: auto;
    overflow-x: hidden;
  }
}
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.bold {
  font-weight: bold;
}

header {
  transition: top 0.5s;
  top: -100px;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
}
nav a:hover {
  color: black;
}

.close {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
.modal-content button {
  background-color: black;
  color: white;
  border-color: black;
  border-radius: 12px;
}

.sticky + section:first-child {
  padding-top: 102px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#first-Section {
  background-image: url("../images/slider-1.jpg");
  background-repeat: no-repeat;
  background-position: bottom 30% right 35%;
  background-size: contain;
  background-color: #F3F3F3;
}
#first-Section h1 {
  font-weight: light;
  color: #bd584e;
}
#first-Section h1 > p {
  font-size: 105px;
  font-weight: bold;
}
#first-Section button {
  border-radius: 25px;
  border-color: #bd584e;
  background-color: #bd584e;
}
#first-Section button::after {
  content: " >";
  opacity: 0;
  transition: 1s;
}
#first-Section button:hover {
  border-color: black;
  background-color: black;
  color: white;
}
#first-Section button:hover::after {
  opacity: 1;
  margin-left: 20px;
}

#service .row {
  color: white;
}
#service .row > div:first-child {
  background-image: url("../images/services/service-1.jpg");
  height: 185px;
  background-size: cover;
  background-position: center;
}
#service .row > div:nth-child(2) {
  background-image: url("../images/services/service-2.jpg");
  height: 185px;
  background-size: cover;
  background-position: center;
}
#service .row > div:last-child {
  background-image: url("../images/services/slider-3.jpg");
  height: 185px;
  background-size: cover;
  background-position: center;
}
#service .row hr {
  background-color: white;
}
#service .row a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 22px;
}

#recent {
  text-align: center;
}
#recent p {
  font-size: 17px;
  font-weight: bold;
}
#recent span {
  font-weight: bold;
  font-size: 17px;
}

.image-pro {
  overflow: hidden;
}
.image-pro img {
  width: 100%;
  transition: ease 1s;
}
.image-pro:hover img {
  transform: scale(1.2);
}
.image-pro:hover .cache {
  opacity: 0.5;
}
.image-pro:hover .cache a {
  padding-bottom: 10px;
}
.image-pro .cache {
  position: absolute;
  bottom: 98px;
  z-index: 3;
  opacity: 0;
  transition: 1s ease;
}
.image-pro .cache a {
  color: white;
  padding-top: 20px;
  padding-bottom: 0px;
  transition: 1s ease;
}
.image-pro .cache a:first-child {
  background-color: red;
}
.image-pro .cache a:last-child {
  background-color: black;
}

.barre {
  text-decoration: line-through;
  color: gray;
}

.prix {
  text-decoration: none;
  color: #bd584e;
}

.sale {
  background-color: #bd584e;
  color: white;
  text-align: center;
  font-size: 9px;
  border-radius: 50%;
  padding: 15px 3px;
}

#discover {
  display: flex;
  background-image: url("../images/cta-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
}
#discover span {
  background-color: #bd584e;
  padding: 15px 20px;
  font-size: 12px;
  border-radius: 25px;
}

.rouge {
  background-color: #bd584e;
  color: white;
}
.rouge button:hover {
  background-color: white;
}

.gris {
  background-color: #F3F3F3;
}

.noir {
  background-color: #000000;
  color: white;
}

section button {
  text-transform: uppercase;
}

#review .col-lg-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#carousel {
  overflow: hidden;
  text-align: center;
}
#carousel .row {
  flex-wrap: nowrap;
}
#carousel img {
  width: 100%;
}

footer {
  background-color: #212121;
}
footer > .row {
  padding: 100px 10px;
  color: #9b9b9b;
}
footer > .row > div:not(:last-child) {
  border-right: 1px solid #353535;
}
footer > .row > div:not(:last-child) a {
  color: #9b9b9b;
}
footer > .row > div:not(:last-child) hr {
  background-color: #353535;
}
footer span {
  color: white;
  font-weight: bold;
}
footer li {
  list-style: none;
}
footer li::before {
  content: ">";
  margin-right: 20px;
}
footer .copyright {
  text-transform: uppercase;
  background-color: #0a0a0a;
  color: #838383;
}

#tag .tags {
  border: 1px solid #353535;
  font-weight: bold;
  font-size: 90%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
